html, body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
}

.header, .footer {
    height: 52px;
}

.max {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    flex-wrap: wrap;
}

.header {
    color: white;
	background-color: #1F2937;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-shrink: 1;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

.logo, .links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #1F2937;
  color: white;
  align-items: center;
}

.one, .two, .three, .four {
    min-height: 450px;
}

.one {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.imgplc {
    border: white solid;
    width: 400px;
    height: 200px;
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
}

.left h1,p {
    margin: 0px;
    padding: 4px;
    max-width: 400px;
}

.left h1 {
    font-size: 48px;
    line-height: 50px;
}

.button1 {
    padding: 4px;
    margin-top: 15px;
    height: 30px;
    width: 75px;
    color: white;
    border: transparent solid;
    background-color: #3882F6;
    border-radius: 7px;
}

.two {
    color: black;
    background-color: white;
    padding-bottom: 16px;
}

.two h2 {
    margin-top: 32px;
    font-size: 34px;
    margin-bottom: 64px;
    text-align: center;
}

.tiles {
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    width: 150px;
    border: #3882F6 solid 4px;
    border-radius: 10px;
}

.two p {
    max-width: 150px;
    height: fit-content;
}

.three {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote{
    margin-left: 20px;
    margin-right: 20px;
}

.three p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 750px;
}

.author {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: right;

}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer-bucket {
    background-color: #3882F6;
    width: 850px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.bucket {
    display: flex;
    justify-content: space-between;
    width:650px;
    margin: 30px;
    border-radius: 10px;
}

.left-f h3 {
    color: white;
    margin: 0;
    padding: 4px;
}

.left-f p {
    color: #E5E7EB;
    margin: 0;
    padding: 4px;
}

.right-f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button2 {
    padding: 4px;
    height: 30px;
    width: 100px;
    color: white;
    border: solid white;
    background-color: transparent;
    border-radius: 7px; 
}